
@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sfpro/SFProDisplay-Regular.eot');
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
  url('../fonts/sfpro/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sfpro/SFProDisplay-Regular.woff2') format('woff2'),
  url('../fonts/sfpro/SFProDisplay-Regular.woff') format('woff'),
  url('../fonts/sfpro/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
$main-font: 'Roboto', sans-serif;
$second-font: 'SF Pro Display', sans-serif;
$size: 13px;
$black: #484848;
$grey: #9E9E9E;
$orange: #FE6400;
$bg: #242424;
$image-bg: #4D4D4D;
$gradient: linear-gradient(180deg, #4592CA 0%, #1877BD 100%);
$white: #ffffff;
$blue: #1FAEE9;
$red: #ffcba5;
$grey: #696969;
$grey-light: #818181;

$black: #242424;

$main-green: linear-gradient(90deg, #CCD500 0%, #D7FA00 100%);
$green: #D7FA00;

$light-c7: #c7c7c7;


* {
  letter-spacing: 0;
  //font-family: $main-font;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


.container {
  width: 100%;
  max-width: 1680px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.calculator-block {
  width: 100%;
  padding: 168px 0 ;
  box-sizing: border-box;
  font-family: $main-font;
  position: relative;
  .container {
    z-index: 2;
    position: relative;
  }
  .img {
    width: 50%;
    height:auto;
    position: absolute;
    bottom: 5%;
    right: 0;
    display: flex;
    pointer-events: none;
    z-index: 1;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      opacity: 0.8;
    }
  }

}
.calculator__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.calculator-title {
  font-style: normal;
  font-weight: 200;
  font-size: 64px;
  line-height: 120%;
  color: #059CD8;
  margin-bottom: 22px;
  display: inline-block;
  max-width: 772px;
  width: 100%;
}
.calculator-sub {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 160%;
  color: #272727;
  display: inline-block;
  margin-bottom: 50px;
  max-width: 772px;
  width: 100%;
}
.calculator__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .form {
    width: 100%;
    font-family: $second-font;
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      .form-title {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #0E93D1;
        margin-bottom: 22px;
        margin-top: 30px;
        strong {
          font-size: 24px;
          font-weight: normal;
          line-height: 95px;
        }
      }
      .input-cont {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 487px;

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #262626;
        margin-bottom: 24px;


      }
    }
  }
}
.input-cont {
  input {
    background: #fff;
    width: 100%;
    outline: none;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    padding: 8px 12px;
    border-radius: 4px;
    height: 40px;
    text-align: right;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
    transition: border 0.3s ease;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #BFBFBF;
    }
    &:active, &:focus, &:hover {
      border: 1px solid #0E93D1;
    }
    &[type='text'], &[type='tel'], &[type='email'] {
      text-align: left;
    }
  }
}
.checkboxes {
  width: 100%;
  margin-top: 22px;
  margin-bottom: 48px;
}
.check-cont {
  width: 100%;
  max-width: 931px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-bottom: 16px;

  label {
    width: 100%;
    display: inline-block;
  }
  input {
    display: none;
    &:checked {
      & ~ span {
        &::before {
          background: url("../img/check.svg") no-repeat center / 9px, #0E93D1;

        }
      }
    }
  }
  span {
    position: relative;
    padding-left: 24px;
    box-sizing: border-box;

    &::before {
      background: #FFFFFF;
      border: 1px solid #0E93D1;
      box-sizing: border-box;
      border-radius: 2px;
      width: 16px;
      height: 16px;
      display: inline-block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
    }
  }

}
p {
  margin: 0;
}
.form {
  .btn {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;

    border: 1px solid #0E93D1;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    margin-left: 24px;
    padding: 8px 42px;

    transition: color 0.3s ease, background-color 0.3s ease;
    &--white {
      color: #0E93D1;
      background: #fff;
      &:hover {
        background: #0E93D1;
        color: #fff;
        transition: color 0.3s ease, background-color 0.3s ease;

      }
    }
    &--blue {
      color: #fff;
      background: #0E93D1;
      margin-left: 0;
      &:hover {
        background: #fff;
        color: #0E93D1;
        transition: color 0.3s ease, background-color 0.3s ease;

      }
    }
  }
}
.form-footer {
  margin-top: 22px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width:487px;
  > .btn {
    margin-left: 76px;
  }
}
.form-captcha {
  flex-grow: 1;
  background: #FAFAFA;
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.101138);
  border-radius: 3px;
  min-height: 80px;
}
body {
  margin: 0;
}
.calc-total {
  width: 100%;
  max-width: 520px;
  margin-top: 32px;
  margin-bottom: 20px;
}
.calc-total__blue {
  width: 100%;
  padding: 24px 33px 24px 24px;
  box-sizing: border-box;
  background: linear-gradient(94.52deg, #202B3F 0%, #1C3867 102.89%);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $second-font;
  span {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
    color: #0E93D1;
    font-family: $main-font;
  }
  div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #FFFFFF;
      margin-bottom: 4px;

    }
    small {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 16px;
      color: #FFFFFF;
    }
  }
}
.calc-total__white {
  width: 100%;
  padding: 22px 33px 22px 24px;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $second-font;
  span {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #0E93D1;
    font-family: $main-font;
  }
  div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #5E5E5E;
      margin-bottom: 4px;

    }
    small {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 16px;
      color: #5E5E5E;
    }
  }
}

@media screen and (max-width: 1025px) {
  .calculator-block {
    padding: 60px 0;
  }
  .calculator-title {
    font-size: 48px;
  }
  .calculator-sub {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  .check-cont {
    margin-bottom: 14px;
  }
  .checkboxes {
    margin-bottom: 25px;
    margin-top: 14px;
  }
  .calculator__form .form form .input-cont {
    margin-bottom: 18px;
  }
  .calculator__form .form form .form-title {
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 14px;
  }
  .calculator-block .img {
    width: 65%;
    bottom: 100px;
  }
  .calc-total {
    margin-bottom: 0;
  }
  .calculator__form .form form .form-title strong {
    font-size: 22px;
    line-height: 60px;
  }
}
@media screen and (max-width: 600px) {
  .check-cont  {
    font-size: 12px;
    margin-bottom: 12px;
  }
  .form-footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .btn {
      margin-left: 0;
      margin-top: 12px;
    }
  }
  .form-captcha {
    width: 100%;
  }
  .calculator__form .form form .form-title strong {
    font-size: 20px;
    line-height: 1.25;
  }
  .calc-total__blue, .calc-total__white {
    padding-top: 15px;
    padding-bottom: 25px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    span {
      margin-top: 12px;
    }
  }
  .calculator-title {
    font-size: 32px;
  }
  .calculator__form .form form .input-cont {
    margin-bottom: 14px;
  }
  .calculator__form .form form .form-title {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .calculator-sub {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
